body {
    font-size: 100%;
    font-family: Sans, arial, sans-serif;
}

form {
    padding: 100px;
}

fieldset {
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    position: relative;
}

input.text {
    border-color: #ccc #999 #999 #ccc;
    border-style: solid;
    border-width: 1px;
    color: #000000;
    font: 18px arial, sans-serif bold;
    height: 25px;
    margin: 0;
    padding: 5px 6px 0;
    vertical-align: top;
    width: 496px;
    -moz-box-sizing: content-box;
}

input.text:focus {
    outline: none;
}

.results {
    background: #fff;
    border: 1px solid #cccccc;
    border-color: #a2bff0 #558be3 #558be3 #a2bff0;
    font-size: 18px;
    -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 138px;
    width: 508px;
    margin: 0;
    padding: 0;
}

.results li {
    border-bottom: 1px dotted #eee;
    font-size: .9em;
    list-style: none;
    padding: 6px;
}

.button {
    background: #ddd;

    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd));

    background: -moz-linear-gradient(top center, #fff, #ddd);

    border: 1px solid #aaa;
    border-radius: 12px;
    -moz-border-radius: 24px;
    -webkit-border-radius: 24px;
    box-shadow: 2px 2px 2px #ccc;
    -webkit-box-shadow: 2px 2px 2px #ccc;
    -moz-box-shadow: 2px 2px 2px #ccc;
    display: inline-block;
    margin: 0 0 2em;
}

.button:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#cdcdcd), to(#ececec));

    background: -moz-linear-gradient(top center, #cdcdcd, #ececec);

    border-color: #999;
}

.button input {
    background: none;
    border: none;
    color: #333;
    cursor: pointer;
    display: block;
    font-size: 18px;
    font-weight: normal;
    outline: none;
    padding: 2px 24px;
    text-decoration: none;
}

.button input:hover {
    color: #111;
}